Options All -Indexes
##No listing directory
RewriteEngine On
RewriteBase /


# Block access to "hidden" directories whose names begin with a period. This
# includes directories used by version control systems such as Subversion or Git.
<IfModule mod_rewrite.c>
  RewriteCond %{SCRIPT_FILENAME} -d
  RewriteCond %{SCRIPT_FILENAME} -f
  RewriteRule "(^|/)\." - [F]
</IfModule>

##Ensure no www on all URLs.
RewriteCond %{HTTP_HOST} !^LVDemolition.com$ [NC]
RewriteRule ^(.*)$ http://LVDemolition.com/$1 [L,R=301]

##Ensure we are using HTTPS version of the site.
RewriteCond %{HTTPS} !on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

##Remove index from url.
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^.]+?)/?$ index.php?$1 [L,QSA]

##Remove all .php extensions without interfering with .js or .css.
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^([^.]+?)/?$ $1.php [L]

<IfModule mod_rewrite.c>
   RewriteRule ^(.+)\.(\d+)\.(js|css|png|jpg|gif)$ $1.$3 [L]
</IfModule>

##Add PHP script into html files
AddType application/x-httpd-php .htm .html

# BEGIN GZIP
<ifmodule mod_deflate.c>
AddOutputFilterByType DEFLATE text/text text/php text/html text/plain text/xml text/css application/x-javascript application/javascript
</ifmodule>
# END GZIP

<FilesMatch ".(flv|gif|jpg|jpeg|png|ico|swf|js|css|pdf)$">
  Header set Cache-Control "max-age=28800"
</FilesMatch>


##Improve caching for better site speed
#<Files magic>
#  ForceType application/x-httpd-php5
#</Files>


ErrorDocument 404 //LVDemolition.com/


# otherwise forward it to index.php
#RewriteRule . index.php

# Add headers to all responses.
<IfModule mod_headers.c>
  # Disable content sniffing, since it's an attack vector.
  Header always set X-Content-Type-Options nosniff
</IfModule>

##PROTECT htaccess file
<Files .htaccess>
Order Allow,Deny
Deny from all
</Files>


##Hide info about what is running
<IfModule mod_headers.c>
 Header unset X-Generator
 Header unset X-Powered-By
</IfModule>

##Secure site from click-jacking attack
Header append X-FRAME-OPTIONS "SAMEORIGIN"

##Preserve bandwidth for PHP enabled servers
<IfModule mod_php4.c>
 php_value zlib.output_compression 16386
</IfModule>

##Set the server administrator email
SetEnv SERVER_ADMIN contact@LVDemolition.com

## ENVIRONMENT VARIABLES
SetEnv TZ America/Los_Angeles
